<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="mb-4">Bienvenue sur notre l'application </h1>
        <div>
            <a href="/admin" class="btn btn-primary btn-lg m-2">Aller à l'administration</a>
            <a href="/convert-csv" class="btn btn-success btn-lg m-2">Convertir CSV</a>
                        <a href="/product" class="btn btn-warning btn-lg m-2">voir les produits</a>

        </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
